name: Build Windows Binaries
on: [workflow_dispatch, push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Dependencies
        run: |
          choco install nasm
          choco install strawberryperl
          echo "C:\Program Files\NASM" >> $GITHUB_PATH

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Project
        shell: cmd
        run: cargo build --release --workspace
        env:
          PICOQUIC_AUTO_BUILD: 1
          OPENSSL_VENDORED: 1
          # Forces the C compiler to be quiet and link correctly
          CFLAGS: "/DWIN32 /D_WINDOWS"

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: slipstream-windows-x64
          path: |
            target/release/slipstream-client.exe
            target/release/slipstream-server.exe
